<% if user_signed_in? %>
  <div class="span-4">
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  </div>
<% else %>
  <div class="span-2">
  <%= link_to('Login', new_user_session_path)  %>
  </div>
<% end %>
<% if user_signed_in? %>
  <div class="span-26">
  <%= link_to('Edit account', edit_user_registration_path) %>
  </div>
<% end %>