
<%= form_for([@app, @version], :html => { :multipart => true } ) do |f| %>
  <% if @version.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@version.errors.count, "error") %> prohibited this version from being saved:</h2>

      <ul>
      <% @version.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :app %><br />
    <%= @app.title %> (<%=@app.appid%>)
	<%= f.hidden_field :app_id, :value => @app.id%>
  </div>
  <div class="field">
    <%= f.label :revision %><br />
    <%= f.number_field :revision %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
	<%= f.label '업로드 할 파일' %><br />
	<%= f.file_field 'binary_file' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
