<h1><%= @app.title %></h1>

<table>
  <tr>
    <th>URL</th>
    <th>Description</th>
	<th>Last updated at</th>
<% if user_signed_in? %>
    <th></th>
    <th></th>
<% end %>
	<th></th>
  </tr>

<% @versions.each do |version| %>
  <tr>
    <td><%= link_to version.shortened_url, app_version_path(@app, version) if version.shortened_url %></td>
    <td><%= link_to version.description, app_version_path(@app, version)  %></td>
	<td><%= link_to version.updated_at.localtime, app_version_path(@app, version) %></td>
	<% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_app_version_path(@app, version) %></td>
    <td><%= link_to 'Destroy', app_version_path(@app, version), confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
	<td><a href="itms-services://?action=download-manifest&amp;url=<%=plist_app_version_path(@app, version, :only_path => false) %>" class="button"><span>INSTALL</span></a></td>
  </tr>
<% end %>
</table>

<br />
<% if user_signed_in? %>
<%= link_to 'New Version', new_app_version_path %> |
<% end %>
<%= link_to 'Back', apps_path %>
