<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string><%=root_path(:only_path => false)+"data/%d/%d/%s" % [@app.id, @version.id, url_encode(@version.filename)] %></string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string><%=@app.appid%></string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string><%=@app.title%></string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>

