<p id="notice"><%= notice %></p>

<p>
  <b>App:</b>
  <%= @version.app.title %>
</p>

<p>
  <b>Revision:</b>
  <%= @version.revision %>
</p>

<p>
  <b>Description:</b>
  <%= @version.description %>
</p>

<p>
  <a href="itms-services://?action=download-manifest&amp;url=<%=plist_app_version_path(@app, @version, :only_path => false) %>">Download & Install this version.</a>
</p>

<%= link_to 'Edit', edit_app_version_path %> |
<%= link_to 'Back', app_versions_path %>
