<h1>KTH Apps</h1>

<table>
  <tr>
    <th>Title</th>
<% if user_signed_in? %>
    <th></th>
    <th></th>
<% end %>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= link_to "%s (%s)" % [app.title, app.appid] , app_versions_path(app) %></td>
	<% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_app_path(app) %></td>
    <td><%= link_to 'Destroy', app, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New App', new_app_path if user_signed_in? %>
